<div class="base-container small-base-container">
  <div class="base-container--bookings height-70vh">
    <div class="card-booking-process">
      <div class="index-number index-number-booking-new" id="fith-step">
        <h1>5</h1>
      </div>
      <div class="heading index-number-booking-new">
        <h2>Budget</h2>
      </div>
      <div class="content-container grid-budget">
        <div class="grid-content-left-budget">
          <div class="image-container-people-counter">
            <div class="grid-people-counter">
              <div class="grid-element-sun">
              </div>
              <div class="grid-element-2">
              </div>
              <div class="grid-element-3">
              </div>
              <div class="grid-element-4">
              </div>
              <div class="grid-element-5">
              </div>
              <div class="grid-element-6">
              </div>
            </div>
          </div>
        </div>

        <div class="grid-budget-header">
          <span>Choose your budget. We will choose your stay.</span>
        </div>

        <div class="slidecontainer padding-right-10 padding-left-10 form-grouped grid-budget-slider">
          <label class="slider-output slider-heading" for="max-price">
            Budget per person: €<%= if (params[:budget_pp])
                          then "#{params[:budget_pp]}"
                        else
                          "300"
                          end%>
          </label>
          <input name="budget_pp" type="range" min="150" max="1000"  class="slider" id="myRange"
                    <%= if (params[:budget_pp])
                          then "€ value=#{params[:budget_pp]}"
                        else
                          "€ value=300"
                          end%>
               >
        </div>

        <div class="grid-budget-accommodation">
          <div class="radio-container">
            <div class="row">
              <div class="col-xs-3">
                <div class="type-container">
                  <div class="radio-trip-type-group">
                    <div  class="input-container radio-button-accommodation">
                      <input type="radio" name="booking[accommodation_type]" class="radio-button" value="Hostel" id="button-hostel" <%="checked" if params[:booking] && (params[:booking]["accommodation_type"] == "Hostel") %>>
                      <div class="radio-title">
                        <div class="icon adventure-icon">
                          <svg fill="#000000" height="24" viewBox="0 0 512 512" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M488,0h-40c-4.8,0-8,3.2-8,8v104H152V88c0-4.8-3.2-8-8-8H56V8c0-4.8-3.2-8-8-8H8C3.2,0,0,3.2,0,8v480c0,4.8,3.2,8,8,8h40
                            c4.8,0,8-3.2,8-8v-72h384v72c0,4.8,3.2,8,8,8h40c4.8,0,8-3.2,8-8V8C496,3.2,492.8,0,488,0z M40,480H16V16h24V480z M56,96h80v16H56
                            V96z M56,296h80v16H56V296z M328,400H56v-16h272V400z M328,368H56v-40h272V368z M328,312H152v-24c0-4.8-3.2-8-8-8H56v-64h272V312z
                            M328,200H56v-16h272V200z M328,168H56v-40h272V168z M440,400h-96v-16h96V400z M440,368h-96v-40h96V368z M440,312h-96v-16h96V312z
                            M440,280h-96v-32h96V280z M440,232h-96v-16h96V232z M440,200h-96v-16h96V200z M440,168h-96v-40h96V168z M480,480h-24V16h24V480z"
                            />
                          </svg>
                        </div>
                        <label for="departure_time" class="radio-title-label">Hostel</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="type-container">
                  <div class="radio-trip-type-group">
                    <div  class="input-container radio-button-accommodation">
                      <input type="radio" name="booking[accommodation_type]" class="radio-button" value="Bed and Breakfast" id="button-bnb" <%="checked" if params[:booking] && (params[:booking]["accommodation_type"] == "Bed and Breakfast") %>>
                      <div class="radio-title">
                        <div class="icon adventure-icon">
                          <svg fill="#000000" height="40" viewBox="0 0 512 512" width="40" xmlns="http://www.w3.org/2000/svg">
                            <path d="M496,91.312V0h-16v84.688l-32,32V184h-16v-67.312l-32-32V0h-16v91.312l32,32V184h-8v70.704l-8,24v122.592l8,24V496h64
                            v-70.704l8-24V278.704l-8-24V184h-8v-60.688L496,91.312z M464,398.704l-8,24V480h-32v-57.296l-8-24V384h48V398.704z M464,368h-48
                            v-16h48V368z M464,336h-48v-16h48V336z M464,304h-48v-22.704l8-24V200h32v57.296l8,24V304z"/>

                            <rect x="448" width="16" height="88"/>

                            <rect x="416" width="16" height="88"/>

                            <path d="M88,184h-8v-45.448c19.352-9.192,32-28.84,32-50.552c0-30.128-23.648-88-56-88S0,57.872,0,88
                            c0,21.712,12.648,41.36,32,50.552V184h-8v70.704l-8,24v122.592l8,24V496h64v-70.704l8-24V278.704l-8-24V184z M16,88
                            c0-25.176,20.56-72,40-72s40,46.824,40,72c0,16.88-10.72,32.016-26.672,37.664L64,127.56V184H48v-56.44l-5.328-1.896
                            C26.72,120.016,16,104.88,16,88z M80,398.704l-8,24V480H40v-57.296l-8-24V384h48V398.704z M80,368H32v-16h48V368z M80,336H32v-16
                            h48V336z M80,304H32v-22.704l8-24V200h32v57.296l8,24V304z"/>

                            <path d="M48,88c0-10.824,7.936-30.824,14.432-39.608l-12.864-9.52C41.272,50.088,32,73.48,32,88
                            c0,11.688,8.032,19.768,16.008,22.592l5.328,1.88l5.328-15.088l-5.32-1.88C51.36,94.808,48,92.432,48,88z"/>

                            <path d="M248,104c-79.4,0-144,64.6-144,144s64.6,144,144,144s144-64.6,144-144S327.4,104,248,104z M248,376
                            c-70.576,0-128-57.424-128-128s57.424-128,128-128s128,57.424,128,128S318.576,376,248,376z"/>

                            <path d="M248,176c-39.696,0-72,32.304-72,72s32.304,72,72,72s72-32.304,72-72S287.696,176,248,176z M248,304
                            c-30.88,0-56-25.12-56-56s25.12-56,56-56s56,25.12,56,56S278.88,304,248,304z"/>

                            <path d="M282.648,228l-13.856,8c2.096,3.632,3.208,7.784,3.208,12c0,13.232-10.768,24-24,24v16c22.056,0,40-17.944,40-40
                            C288,240.968,286.152,234.048,282.648,228z"/>

                            <path d="M248,208v16c4.216,0,8.368,1.112,12,3.208l8-13.856C261.952,209.848,255.032,208,248,208z"/>

                          </svg>
                        </div>
                        <label for="departure_time" class="radio-title-label">B & B</label>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="type-container">
                  <div class="radio-trip-type-group">
                    <div  class="input-container radio-button-accommodation">
                      <input type="radio" name="booking[accommodation_type]" class="radio-button" value="Hotel" id="button-hotel" <%="checked" if params[:booking] && (params[:booking]["accommodation_type"] == "Hotel") %>>
                      <div class="radio-title">
                        <div class="icon adventure-icon">
                          <svg fill="#000000" height="24" viewBox="0 0 512 512" width="24" xmlns="http://www.w3.org/2000/svg">
                            <circle style="fill:#005C83;" cx="256" cy="256" r="256"/>
                            <path style="fill:#00263F;" d="M512,256c0-6.919-0.284-13.772-0.822-20.552L401.5,125.77l-327,193l27.138,27.138L84,354.27
                            l157.3,157.3c4.866,0.276,9.765,0.43,14.7,0.43C397.385,512,512,397.385,512,256z"/>
                            <rect x="405.29" y="299.27" style="fill:#FF9451;" width="22.712" height="55"/>
                            <rect x="84" y="299.27" style="fill:#FFB344;" width="22.712" height="55"/>
                            <rect x="110.5" y="125.77" style="fill:#FF6838;" width="291" height="139.5"/>
                            <rect x="255.95" y="125.77" style="fill:#AE4E32;" width="145.55" height="139.5"/>
                            <path style="fill:#E6E6E6;" d="M224.75,258.27h-87.5c-9.665,0-17.5-7.835-17.5-17.5l0,0c0-9.665,7.835-17.5,17.5-17.5h87.5
                            c9.665,0,17.5,7.835,17.5,17.5l0,0C242.25,250.435,234.415,258.27,224.75,258.27z"/>
                            <path style="fill:#CCCCCC;" d="M374.75,258.27h-87.5c-9.665,0-17.5-7.835-17.5-17.5l0,0c0-9.665,7.835-17.5,17.5-17.5h87.5
                            c9.665,0,17.5,7.835,17.5,17.5l0,0C392.25,250.435,384.415,258.27,374.75,258.27z"/>
                            <rect x="97.25" y="246" style="fill:#FFFFFF;" width="317.5" height="49.77"/>
                            <rect x="255.95" y="246" style="fill:#E0E0E0;" width="158.8" height="49.77"/>
                            <rect x="74.5" y="274.27" style="fill:#FF9451;" width="363" height="44.5"/>
                            <rect x="255.95" y="274.27" style="fill:#F7674F;" width="181.55" height="44.5"/>
                            <g>
                            </svg>
                        </div>
                        <label for="departure_time" class="radio-title-label">Hotel</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="type-container">
                  <div class="radio-trip-type-group">
                    <div  class="input-container radio-button-accommodation">
                      <input type="radio" name="booking[accommodation_type]" class="radio-button" value="Luxury Hotel" id="button-luxus-hotel" <%="checked" if params[:booking] && (params[:booking]["accommodation_type"] == "Luxury Hotel") %>>
                      <div class="radio-title">
                        <div class="icon adventure-icon">
                          <svg fill="#000000" height="24" viewBox="0 0 512 512" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path style="fill:#FFC107;" d="M489.875,177.046c-1.649-3.989-5.539-6.591-9.856-6.592h-36.075l-18.368-36.779
                            c-3.143-5.272-9.966-6.998-15.238-3.855c-1.585,0.945-2.91,2.27-3.855,3.855l-18.389,36.779h-36.075
                            c-5.891-0.011-10.675,4.757-10.686,10.648c-0.005,2.84,1.123,5.565,3.134,7.571l27.968,27.968l-9.536,47.68
                            c-1.179,5.772,2.544,11.407,8.315,12.586c2.99,0.611,6.097-0.088,8.538-1.919l36.267-27.2l36.267,27.2
                            c4.712,3.536,11.398,2.583,14.934-2.129c1.831-2.44,2.53-5.548,1.919-8.538l-9.536-47.744l27.968-27.968
                            C490.593,185.568,491.501,181.013,489.875,177.046z"/>
                            <path style="fill:#FFC107;" d="M138.686,170.454h-36.075l-18.389-36.779c-3.144-5.272-9.966-6.998-15.239-3.855
                            c-1.585,0.945-2.91,2.27-3.855,3.855L46.76,170.454H10.686C4.795,170.443,0.011,175.211,0,181.102
                            c-0.005,2.84,1.123,5.565,3.134,7.571l27.968,27.968l-9.536,47.68c-1.179,5.772,2.544,11.407,8.316,12.586
                            c2.989,0.611,6.097-0.088,8.538-1.919l36.267-27.2l36.267,27.2c4.712,3.536,11.398,2.583,14.934-2.129
                            c1.831-2.44,2.53-5.548,1.919-8.538l-9.536-47.744l27.968-27.904c4.171-4.16,4.179-10.914,0.019-15.085
                            C144.251,171.577,141.526,170.449,138.686,170.454z"/>
                            <path style="fill:#FFC107;" d="M202.686,149.121c5.891,0.001,10.668-4.773,10.669-10.664c0-0.717-0.072-1.433-0.216-2.136
                            l-9.536-47.744l27.968-27.968c4.136-4.195,4.087-10.949-0.108-15.085c-1.985-1.957-4.657-3.059-7.444-3.07h-36.075L169.555,5.675
                            c-3.144-5.272-9.966-6.998-15.239-3.855c-1.585,0.945-2.91,2.27-3.855,3.855l-18.368,36.779H96.019
                            c-5.891-0.011-10.675,4.757-10.686,10.648c-0.005,2.84,1.123,5.565,3.134,7.571l27.968,27.947l-9.536,47.701
                            c-1.179,5.772,2.544,11.407,8.315,12.586c2.989,0.611,6.097-0.088,8.538-1.919l36.267-27.2l36.267,27.2
                            C198.132,148.372,200.378,149.121,202.686,149.121z"/>
                            <path style="fill:#FFC107;" d="M373.352,149.121c5.891,0.001,10.668-4.773,10.669-10.664c0-0.717-0.072-1.433-0.215-2.136
                            l-9.536-47.744l27.968-27.968c4.136-4.195,4.087-10.949-0.108-15.085c-1.985-1.957-4.657-3.059-7.444-3.07h-36.075L340.222,5.675
                            c-3.144-5.272-9.966-6.998-15.238-3.855c-1.585,0.945-2.91,2.27-3.855,3.855L302.76,42.454h-36.075
                            c-5.891-0.011-10.675,4.757-10.686,10.648c-0.005,2.84,1.123,5.565,3.134,7.571l27.968,27.968l-9.536,47.68
                            c-1.179,5.772,2.544,11.407,8.316,12.586c2.989,0.611,6.097-0.088,8.538-1.919l36.267-27.2l36.267,27.2
                            C368.799,148.372,371.044,149.121,373.352,149.121z"/>
                            <path style="fill:#FFC107;" d="M309.352,170.454h-36.075l-18.368-36.779c-3.144-5.272-9.966-6.998-15.239-3.855
                            c-1.585,0.945-2.91,2.27-3.855,3.855l-18.389,36.779h-36.075c-5.891-0.011-10.675,4.757-10.686,10.648
                            c-0.005,2.84,1.123,5.565,3.134,7.571l27.968,27.968l-9.536,47.68c-1.179,5.772,2.544,11.407,8.316,12.586
                            c2.989,0.611,6.097-0.088,8.538-1.919l36.267-27.2l36.267,27.2c4.712,3.536,11.398,2.583,14.934-2.129
                            c1.831-2.44,2.53-5.548,1.919-8.538l-9.536-47.744l27.968-27.968c4.136-4.195,4.087-10.949-0.108-15.085
                            C314.811,171.568,312.139,170.466,309.352,170.454z"/>
                            <path style="fill:#546E7A;" d="M53.352,298.454h384c29.455,0,53.333,23.878,53.333,53.333v85.333
                            c0,29.455-23.878,53.333-53.333,53.333h-384c-29.455,0-53.333-23.878-53.333-53.333v-85.333
                            C0.019,322.332,23.897,298.454,53.352,298.454z"/>
                            <path style="fill:#FAFAFA;" d="M96.019,341.121c-5.891,0-10.667,4.776-10.667,10.667v32H64.019v-32
                            c0-5.891-4.776-10.667-10.667-10.667s-10.667,4.776-10.667,10.667v85.333c0,5.891,4.776,10.667,10.667,10.667
                            s10.667-4.776,10.667-10.667v-32h21.333v32c0,5.891,4.776,10.667,10.667,10.667s10.667-4.776,10.667-10.667v-85.333
                            C106.686,345.896,101.91,341.121,96.019,341.121z"/>
                            <path style="fill:#FAFAFA;" d="M160.019,341.121c-17.673,0-32,14.327-32,32v42.667c0,17.673,14.327,32,32,32s32-14.327,32-32
                            v-42.667C192.019,355.448,177.692,341.121,160.019,341.121z M170.686,415.787c0,5.891-4.776,10.667-10.667,10.667
                            s-10.667-4.776-10.667-10.667v-42.667c0-5.891,4.776-10.667,10.667-10.667s10.667,4.776,10.667,10.667V415.787z"/>
                            <path style="fill:#FAFAFA;" d="M277.352,341.121h-64c-5.891,0-10.667,4.776-10.667,10.667c0,5.891,4.776,10.667,10.667,10.667
                            h21.333v74.667c0,5.891,4.776,10.667,10.667,10.667c5.891,0,10.667-4.776,10.667-10.667v-74.667h21.333
                            c5.891,0,10.667-4.776,10.667-10.667C288.019,345.896,283.243,341.121,277.352,341.121z"/>
                            <path style="fill:#FAFAFA;" d="M352.019,362.454c5.891,0,10.667-4.776,10.667-10.667c0-5.891-4.776-10.667-10.667-10.667h-42.667
                            c-5.891,0-10.667,4.776-10.667,10.667v85.333c0,5.891,4.776,10.667,10.667,10.667h42.667c5.891,0,10.667-4.776,10.667-10.667
                            c0-5.891-4.776-10.667-10.667-10.667h-32v-21.333h10.667c5.891,0,10.667-4.776,10.667-10.667c0-5.891-4.776-10.667-10.667-10.667
                            h-10.667v-21.333H352.019z"/>
                            <path style="fill:#FAFAFA;" d="M437.352,426.454h-32v-74.667c0-5.891-4.776-10.667-10.667-10.667s-10.667,4.776-10.667,10.667
                            v85.333c0,5.891,4.776,10.667,10.667,10.667h42.667c5.891,0,10.667-4.776,10.667-10.667
                            C448.019,431.23,443.243,426.454,437.352,426.454z"/>
                            <path d="M458.686,277.121c-2.308,0-4.554-0.749-6.4-2.133l-36.267-27.2l-36.267,27.2c-4.712,3.536-11.398,2.583-14.934-2.129
                            c-1.831-2.44-2.53-5.548-1.919-8.538l9.536-47.723l-27.968-27.925c-4.171-4.16-4.179-10.914-0.019-15.085
                            c2.006-2.011,4.731-3.139,7.571-3.134h36.075l18.389-36.779c3.143-5.272,9.966-6.998,15.238-3.855
                            c1.585,0.945,2.91,2.27,3.855,3.855l18.368,36.779h36.075c5.891-0.011,10.675,4.757,10.686,10.648
                            c0.005,2.84-1.123,5.565-3.134,7.571l-27.968,27.968l9.536,47.68c1.178,5.772-2.546,11.406-8.318,12.584
                            C460.118,277.049,459.403,277.121,458.686,277.121z M416.019,223.787c2.308,0,4.554,0.749,6.4,2.133l20.331,15.253l-5.184-25.92
                            c-0.701-3.501,0.396-7.12,2.923-9.643l13.781-13.781h-16.917c-4.037,0-7.728-2.279-9.536-5.888l-11.797-23.637l-11.797,23.573
                            c-1.802,3.617-5.495,5.905-9.536,5.909h-16.917l13.781,13.781c2.527,2.523,3.624,6.142,2.923,9.643l-5.184,25.963l20.331-15.253
                            C411.465,224.536,413.711,223.787,416.019,223.787z"/>
                            <path d="M117.352,277.121c-2.308,0-4.554-0.749-6.4-2.133l-36.267-27.2l-36.267,27.2c-4.712,3.536-11.398,2.583-14.934-2.129
                            c-1.831-2.44-2.53-5.548-1.919-8.538l9.536-47.723L3.134,188.673c-4.171-4.16-4.179-10.914-0.019-15.085
                            c2.006-2.011,4.731-3.139,7.571-3.134H46.76l18.389-36.779c3.144-5.272,9.966-6.998,15.239-3.855c1.585,0.945,2.91,2.27,3.855,3.855
                            l18.368,36.779h36.075c5.891-0.011,10.675,4.757,10.686,10.648c0.005,2.84-1.123,5.565-3.134,7.571l-27.968,27.968l9.536,47.68
                            c1.178,5.772-2.546,11.406-8.318,12.584C118.785,277.049,118.07,277.121,117.352,277.121z M74.686,223.787
                            c2.308,0,4.554,0.749,6.4,2.133l20.331,15.253l-5.184-25.92c-0.701-3.501,0.396-7.12,2.923-9.643l13.781-13.824H96.019
                            c-4.037,0-7.728-2.279-9.536-5.888l-11.797-23.595l-11.797,23.595c-1.808,3.609-5.499,5.888-9.536,5.888H36.435l13.781,13.781
                            c2.527,2.523,3.624,6.142,2.923,9.643l-5.184,25.963l20.331-15.253C70.132,224.536,72.378,223.787,74.686,223.787z"/>
                            <path d="M202.686,149.121c-2.308,0-4.554-0.749-6.4-2.133l-36.267-27.2l-36.267,27.2c-4.712,3.536-11.398,2.583-14.934-2.129
                            c-1.831-2.44-2.53-5.548-1.919-8.538l9.536-47.723L88.467,60.673c-4.171-4.16-4.179-10.914-0.019-15.085
                            c2.006-2.011,4.731-3.139,7.571-3.134h36.075l18.389-36.779c3.144-5.272,9.966-6.998,15.238-3.855
                            c1.585,0.945,2.91,2.27,3.855,3.855l18.368,36.779h36.075c5.891-0.011,10.675,4.757,10.686,10.648
                            c0.005,2.84-1.123,5.565-3.134,7.571l-27.968,27.968l9.536,47.68c1.178,5.772-2.546,11.406-8.318,12.584
                            C204.118,149.049,203.403,149.121,202.686,149.121z M160.019,95.787c2.308,0,4.554,0.749,6.4,2.133l20.331,15.253l-5.184-25.92
                            c-0.701-3.501,0.396-7.12,2.923-9.643l13.781-13.824h-16.917c-4.037,0-7.728-2.279-9.536-5.888l-11.797-23.595l-11.797,23.595
                            c-1.808,3.609-5.499,5.888-9.536,5.888h-16.917l13.781,13.781c2.541,2.532,3.639,6.171,2.923,9.685l-5.184,25.92l20.331-15.253
                            C155.465,96.536,157.711,95.787,160.019,95.787z"/>
                            <path d="M373.352,149.121c-2.308,0-4.554-0.749-6.4-2.133l-36.267-27.2l-36.267,27.2c-4.712,3.536-11.398,2.583-14.934-2.129
                            c-1.831-2.44-2.53-5.548-1.919-8.538l9.536-47.723l-27.968-27.925c-4.171-4.16-4.179-10.914-0.019-15.085
                            c2.006-2.011,4.731-3.139,7.571-3.134h36.075L321.15,5.675c3.143-5.272,9.966-6.998,15.238-3.855c1.585,0.945,2.91,2.27,3.855,3.855
                            l18.368,36.779h36.075c5.891-0.011,10.675,4.757,10.686,10.648c0.005,2.84-1.123,5.565-3.134,7.571L374.27,88.641l9.536,47.68
                            c1.178,5.772-2.546,11.406-8.318,12.584C374.785,149.049,374.07,149.121,373.352,149.121z M330.686,95.787
                            c2.308,0,4.554,0.749,6.4,2.133l20.331,15.253l-5.184-25.92c-0.701-3.501,0.396-7.12,2.923-9.643l13.781-13.781h-16.917
                            c-4.037,0-7.728-2.279-9.536-5.888l-11.797-23.637l-11.797,23.573c-1.802,3.617-5.495,5.905-9.536,5.909h-16.917l13.781,13.781
                            c2.527,2.523,3.624,6.142,2.923,9.643l-5.184,25.963l20.331-15.253C326.132,96.536,328.378,95.787,330.686,95.787z"/>
                            <path d="M288.019,277.121c-2.308,0-4.554-0.749-6.4-2.133l-36.267-27.2l-36.267,27.2c-4.712,3.536-11.398,2.583-14.934-2.129
                            c-1.831-2.44-2.53-5.548-1.919-8.538l9.536-47.723L173.8,188.673c-4.171-4.16-4.179-10.914-0.019-15.085
                            c2.006-2.011,4.731-3.139,7.571-3.134h36.075l18.389-36.779c3.144-5.272,9.966-6.998,15.238-3.855
                            c1.585,0.945,2.91,2.27,3.855,3.855l18.368,36.779h36.075c5.891-0.011,10.675,4.757,10.686,10.648
                            c0.005,2.84-1.123,5.565-3.134,7.571l-27.968,27.968l9.536,47.68c1.178,5.772-2.546,11.406-8.318,12.584
                            C289.452,277.049,288.736,277.121,288.019,277.121z M245.352,223.787c2.308,0,4.554,0.749,6.4,2.133l20.331,15.253l-5.184-25.92
                            c-0.701-3.501,0.396-7.12,2.923-9.643l13.781-13.781h-16.917c-4.037,0-7.728-2.279-9.536-5.888l-11.797-23.637l-11.797,23.573
                            c-1.802,3.617-5.495,5.905-9.536,5.909h-16.917l13.781,13.781c2.527,2.523,3.624,6.142,2.923,9.643l-5.184,25.963l20.331-15.253
                            C240.799,224.536,243.044,223.787,245.352,223.787z"/>
                            <path d="M437.352,490.454h-384c-29.455,0-53.333-23.878-53.333-53.333v-85.333c0-29.455,23.878-53.333,53.333-53.333h384
                            c29.455,0,53.333,23.878,53.333,53.333v85.333C490.686,466.576,466.808,490.454,437.352,490.454z M53.352,319.787
                            c-17.673,0-32,14.327-32,32v85.333c0,17.673,14.327,32,32,32h384c17.673,0,32-14.327,32-32v-85.333c0-17.673-14.327-32-32-32H53.352
                            z"/>
                        </svg>
                        </div>
                        <label for="departure_time" class="radio-title-label">Luxury</label>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="button-form button-form--next index-number-booking-new scroll"> Next </button>
    </div>
  </div>
</div>
