
<!-- banner here -->


<form action="<%= bookings_path(@booking) %>" method="post">
  <input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">

  <%= render '/shared/index_cards_booking/first_card' %>
  <%= render '/shared/index_cards_booking/second_card' %>
  <%= render '/shared/index_cards_booking/third_card' %>
  <%= render '/shared/index_cards_booking/fourth_card' %>
  <%= render '/shared/index_cards_booking/fith_card' %>

  <input type="submit" value="Update Personal Details and Pay">

</form>

<!-- <hr>

 <%= link_to "Review your input", bookings_path(@booking), method: :post, class: "btn btn-primary btn-lg" %>

  <%= link_to "Back to Home", root_path, class: "btn btn-primary btn-lg" %>

 -->

