<div class="summary-container">
  <div class="summary-container--grid">
    <div class="grid-image-left">
      <div class="image-summary-booking">
      </div>
    </div>
    <div class="grid-summary-general-heading">
      <span>Summary of your trip</span>
    </div>
    <div class="grid-submit-button">
      <br>
      <%= form_tag booking_payments_path(@booking) do %>
      <article>
        <label class="amount">
          <span>Amount: <%= humanized_money_with_symbol(@booking.price) %></span>
        </label>
      </article>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="My Teddy"
        data-email="<%= current_user.email %>"
        data-amount="<%= @booking.price_cents %>"
        data-currency= eur ></script>

      <% end %>

      </div>
    <%= render '/shared/cards_summary_booking/first_card', booking: @booking %>
    <%= render '/shared/cards_summary_booking/second_card', booking: @booking %>
    <%= render '/shared/cards_summary_booking/third_card', booking: @booking %>
  </div>
</div>





