<div class="sum-container">
  <div class="sum-booking">
    <div class="information-wrapper">

      <div class="heading-span">
        <span>Trip Summary</span>
      </div>



      <div class="trip-details-sum">
        <div class="trip--details">
          <div class="trip-headings-spans">
            <span >Trip Details</span>
          </div>
          <span id="traveller_info" style="display: inline-block; width: 200px;" > Number of Travellers: </span>
            <span id="user_info"=> <%= @booking.number_traveller  %> </span><br>

          <span id="traveller_info" style="display: inline-block; width: 200px;">Origin:</span>
            <span class="text-left" id="user_info"=> <%= @booking.origin %></span><br>

          <span id="traveller_info" style="display: inline-block; width: 200px;">Departure:</span>
            <span  class="text-left" id="user_info"=> <%= @booking.start_time.strftime("%d.%m.%Y")%>  after <%= @booking.start_time.strftime("%l %p")%> </span><br>

          <span id="traveller_info" style="display: inline-block; width: 200px;">Climate:</span>
            <span class="text-left"  id="user_info"=><%= @booking.climate %> </span><br>

          <span id="traveller_info" style="display: inline-block; width: 200px;">Accomodation type:</span>
            <span class="text-left" id="user_info"=> <%= @booking.accommodation_type %> </span><br>

          <span id="traveller_info" style="display: inline-block; width: 200px;">Excluded countries:</span>
            <span class="text-left" id="user_info"=>Germany<%= @booking.excluded_countries %></span><br>
        </div>

        <hr>

        <div class="trip--personal">
          <div class="trip-headings-spans">
            <span >Personal Details</span>
          </div>

          <span id="traveller_info" style="display: inline-block; width: 200px;">Name: </span>
            <span id="user_info"> <%= @booking.travellers.first.first_name + ' ' + @booking.travellers.first.last_name %> </span><br>

          <span id="traveller_info" style="display: inline-block; width: 200px;">Email: </span>
            <span id="user_info"=><%= current_user.email %> </span><br>
          <span id="traveller_info" style="display: inline-block; width: 200px;">Email: </span>
            <span id="user_info"=><%= current_user.phone %> </span><br>
          <div class="popup-container flex">
            <div class="row">
              <% @booking.travellers.each_with_index do |traveller,index| %>
              <div class="col-xs-6 col-md-6 ">
                <div class="box"> <a class="button" href="#popup<%= index %>"><%= traveller.first_name + ' ' + traveller.last_name  %></a>
                </div>
                </div>
                <div id="popup<%= index %>" class="overlay">
                  <div class="popup">
                   <span class="center-heading">TRAVELLER DETAILS </span>
                   <a class="close" href="#modal-anchor">&times;</a>
                   <span  id="traveller_info" style="display: inline-block; width: 200px; margin-top: 2%;">Name:</span>
                    <span id="user_info"=><%= traveller.first_name + ' ' + traveller.last_name %></span><br>
                   <span  id="traveller_info" style="display: inline-block; width: 200px;margin-top: 2%;">Birthday:</span>
                    <span id="user_info"=><%= traveller.birth_date %></span><br>
                   <span id="traveller_info" style="display: inline-block; width: 200px;margin-top: 2%;">Passport Number: </span>
                    <span id="user_info"=><%= traveller.passport_number %></span><br>
                   <span id="traveller_info" style="display: inline-block; width: 200px;margin-top: 2%;"> Nationality: </span>
                    <span id="user_info"=><%= traveller.nationality %></span><br>
                   <span id="traveller_info" style="display: inline-block; width: 200px;margin-top: 2%;">Expiry Date:</span>
                    <span id="user_info"=><%= traveller.passport_expiration %></span><br>

                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <hr>

        <div class="trip--payment">
          <div class="trip-headings-spans">
            <span>Payment</span>
          </div>
          <span id="traveller_info" style="display: inline-block; width: 200px;">Budget per Person: </span>
            <span id="user_info"=> €<%= @booking.budget_pp  %> </span><br>
          <span id="traveller_info" style="display: inline-block; width: 200px;">Number of Travellers: </span>
            <span id="user_info"=> <%= @booking.number_traveller %></span><br>

          <span  style="display: inline-block; width: 200px;"> TOTAL AMOUNT: </span> <span><%= humanized_money_with_symbol(@booking.price) %> </span><br>
        </div>
      </div>

      <div class="pay-now">
        <%= form_tag booking_payments_path(@booking) do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="Pay your Trip"
            data-email="<%= current_user.email %>"
            data-amount="<%= @booking.price_cents %>"
            data-currency= eur ></script>
            <button type="submit" class="yourcustomclass">Pay Now</button>
        <% end %>
      </div>

    </div>
  </div>
</div>





