<div class="grid-content-right-first">
  <div class="container-summary-content">
    <div class="style-heading"> <span>Trip Details</span> </div>
      <div class="style-body">
      <span>Number of Travellers: <%= booking.number_traveller  %> </span><br>
      <span>Origin: <%= booking.origin %></span><br>
      <span>Depature:  <%= booking.start_time.strftime("%d.%m.%Y")%>  after <%= booking.start_time.strftime("%l %p")%> </span><br>
      <span>Climate: <%= booking.climate %> </span><br>
      <span>Accomodation type: <%= booking.accommodation_type %> </span><br>
      <span>Excluded countries: <%= booking.excluded_countries %></span><br>
    </div>

  </div>
</div>
