<div class="grid-content-right-first">
  <div class="container-summary-content">
    <div class="style-heading"> <span>Trip Details</> </div>
      <div class="style-body">
      <span>NUMBER OF PEOPLE: <%= booking.number_traveller  %> </span><br>
      <span>START POINT: <%= booking.origin %></span><br>
      <span>DEPARTURE TIME:  <%= booking.start_time %> </span><br>
      <span>CLIMATE: <%= booking.climate %> </span><br>
      <span>ACCOMODATION TYPE: <%= booking.accommodation_type %> </span><br>
      <span>EXCLUDED COUNTRIES: <%= booking.excluded_countries %></span><br>
    </div>

  </div>
</div>
