<div class="grid-content-right-second">
  <div class="container-summary-content">
    <div class="style-heading"> <span>Personal Details </span> </div>
      <div class="style-body">

        <span id="traveller_info"=>Name: </span> <span id="user_info"> <%= @booking.travellers.first.first_name + ' ' + @booking.travellers.first.last_name %> </span><br>
        <span id="traveller_info"=>Email: </span> <span id="user_info"=><%= current_user.email %> </span><br>

<!--         <div class="dropdown">
         <span>Traveller Details</span>
         <select name="" id="">
           <div class="dropdown-content">
             <option value="name"><%= booking.travellers.first.first_name %></option>
            <option value="bırthday">Birthday:<%= booking.travellers.first.birth_date %></option>
            <option value="passport">Passport Number:<%= booking.travellers.first.passport_number %></option>
            <option value="natıonalıty">Nationality:<%= booking.travellers.first.nationality %></option>
           </div>
         </select>
       </div> -->





        <div class="popup-container flex">
          <div class="row">
            <% booking.travellers.each_with_index do |traveller,index| %>
            <div class="col-xs-6 col-md-6 ">
              <div class="box"> <a class="button" href="#popup<%= index %>"><%= traveller.first_name + ' ' + traveller.last_name  %></a>
              </div>
              </div>
              <div id="popup<%= index %>" class="overlay">
                <div class="popup">
                 <span class="center-heading">TRAVELLER DETAILS </span>
                 <a class="close" href="#modal-anchor">&times;</a>
                 <span  id="traveller_info"=>Name:</span>  <span id="user_info"=><%= traveller.first_name + ' ' + traveller.last_name %></span>
                 <span  id="traveller_info"=>Birthday:</span> <span id="user_info"=><%= traveller.birth_date %></span>
                 <span id="traveller_info"=>Passport Number: </span>  <span id="user_info"=><%= traveller.passport_number %></span>
                 <span id="traveller_info"=> Nationality: </span> <span id="user_info"=><%= traveller.nationality %></span>
                 <span id="traveller_info"=>Expiry Date:</span>   <span id="user_info"=><%= traveller.passport_expiration %></span>
                 <span id="traveller_info"=>Phone Number: </span> <span id="user_info"=><%= traveller.passport_expiration %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>


