<div class="base-container">
  <div class="base-container--bookings">
    <div class="card-booking-process">
      <div class="index-number index-number-booking-new">
        <h1>6</h1>
      </div>
      <div class="heading index-number-booking-new">
        <h2>Personal Details</h2>
      </div>
      <div class="content-container">

        <div class="booking-step6-personal">
          <div class="booking-step6-personal-img">
          </div>

          <div class="booking-step6-personal-content">
<!--
        Include smart way for form that it prefills a 'value' if that input exists in database, otherwise display placeholder -->

            <div class="booking-step6-personal-header">
             <h3>Traveller <%= (number + 1)  %></h3>
           </div>
           <div class="booking-step6-personal-form">
             <div class="booking-step6-personal-form-leftcol">
              <input id="title" type="text" value="<%=@booking.travellers[number].title.class %>" name="traveller_<%= number %>[title]" placeholder="">
              <input id="first_name"type="text" name='traveller_<%=number%>[first_name]' placeholder="First Name">
              <input type="text" name='traveller_<%=number%>[passport_number]' placeholder="Passport Number" ">
              <input type="text" name='traveller_<%=number%>[nationality]' placeholder="Nationality">
            </div>
            <div class="booking-step6-personal-form-rightcol">
              <input type="text" name='traveller_<%=number%>[last_name]' placeholder="Last Name">
              <input type="text" name='traveller_<%=number%>[passport_expiration]' placeholder="Passport Expiration">
              <input type="text" name='traveller_<%=number%>[birth_date]' placeholder="Birth date">
            </div>
          </div>
        </div>
      </div>
  <input class="button-form button-form--next index-number-booking-new" type="submit" value="Pay">
    </div>




  </div>


  <!--  <button class="button-form button-form--next index-number-booking-new"> Next </button> -->

</div>

