<div class="base-container small-base-container">
  <div class="base-container--bookings card-margin-top" id="small-base-container">
    <div class="card-booking-process">
      <div class="index-number index-number-booking-new">
        <h1>6</h1>
      </div>
      <div class="heading index-number-booking-new">
        <h2>Personal Details</h2>
      </div>
      <div class="content-container">

        <div class="booking-step6-personal">
          <div class="booking-step6-personal-img">
          </div>

          <div class="booking-step6-personal-content">

            <div id="carousel-example" class="carousel slide" data-interval="false">
              <ol class="carousel-indicators">
                <% @booking.travellers.each_with_index do |t, i|%>
                <% if i==0 %>
                <li data-target="#carousel-example" data-slide-to="<%= i %>" class="active"></li>
                <% else %>
                <li data-target="#carousel-example" data-slide-to="<%= i %>"></li>
                <% end %>
                <% end %>
              </ol>

              <div class="carousel-inner">
                <% @booking.travellers.each_with_index do |t, i|%>
                <% if i==0 %>
                <div class="item active">
                  <% else %>
                  <div class="item">
                    <% end %>
                    <div class="booking-step6-personal-header">
                      <% if i == 0 %>
                      <h3>Traveller <%= (i + 1)  %></h3>  <p>(Paying Traveller)</p>
                      <% else %>
                      <h3>Traveller <%= (i + 1)  %></h3>
                      <% end %>
                    </div>
                    <div class="booking-step6-personal-form">
                      <div class="booking-step6-personal-form-leftcol">

                 <div class="inline">
                    <div class="styled-select slate ">
                           <select id="title" name="traveller_<%= i %>[title]" class=" input-style input-style:focus drop-down-titles" >
                       <option value="Mrs" selected="selected">Mrs</option>
                       <option value="Mr" >Mr</option>
                       <option value="Miss">Miss</option>
                       <option value="Ms">Ms</option>
                       <option value="Dr">Dr</option>
                     </select>
                   </div>

                     <input id="first_name"type="text" name='traveller_<%=i%>[first_name]' placeholder="First Name" value='<%= if i == 0
                      @booking.travellers.first.first_name
                      end %>' class="input-style input-style:focus" >
                        </div>
                        <input id="" type="text" name='traveller_<%=i%>[passport_number]' placeholder="Passport Number" class="input-style input-style:focus" >

                        <label for="passport_expiration">Passport expiry date</label>
                        <input id="passport_expiration" type="date" name='traveller_<%=i%>[passport_expiration]' placeholder="Enter your passport expiry date" class="passportpickr input-style input-style:focus" >
                      </div>
                      <div class="booking-step6-personal-form-rightcol">
                        <input type="text" name='traveller_<%=i%>[last_name]' placeholder="Last Name" class="input-style input-style:focus">
                        <input type="text" name='traveller_<%=i%>[nationality]' placeholder="Nationality" class="input-style input-style:focus">
                        <label for="birth_date">Birth date</label>
                        <input id="birth_date" type="date" name='traveller_<%=i%>[birth_date]' placeholder="Enter your birth date" class="birthpickr">
                      </div>
                    </div>
                  </div>
                  <% end %>

                  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <input class="button-form button-form--next index-number-booking-new" type="submit" value="Next">

        </div>
      </div>
      <!--  <button class="button-form button-form--next index-number-booking-new"> Next </button> -->
    </div>
  </div>
